[submodule "Arduino_Core_STM32"]
	path = Arduino_Core_STM32
	url = https://github.com/geosmall/Arduino_Core_STM32.git
[submodule "libraries/SD"]
	path = libraries/SD
	url = https://github.com/geosmall/SD.git
[submodule "libraries/STM32RTC"]
	path = libraries/STM32RTC
	url = https://github.com/stm32duino/STM32RTC.git
