[submodule "Arduino_Core_STM32"]
	path = Arduino_Core_STM32
	url = https://github.com/geosmall/Arduino_Core_STM32.git
[submodule "BoardManagerFiles"]
	path = BoardManagerFiles
	url = https://github.com/geosmall/BoardManagerFiles.git
