[submodule "Arduino_Core_STM32"]
	path = Arduino_Core_STM32
	url = https://github.com/geosmall/Arduino_Core_STM32.git
[submodule "libraries/LittleFS"]
	path = libraries/LittleFS
	url = https://github.com/geosmall/LittleFS.git
[submodule "libraries/SD"]
	path = libraries/SD
	url = https://github.com/geosmall/SD.git
